@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Alegreya Sans', sans-serif;
}

.inv::-webkit-scrollbar{
    width: 10px;
}
.inv::-webkit-scrollbar tracK{
    background-color: orange;
    opacity: 0.5;
}
.inv::-webkit-scrollbar thumb{
    background-color: orange;
    opacity: 0.9;
}
.font-capri{
    font-family: 'Caprasimo', cursive;
}
.swiper {
    width: 800px;
    height: 500px;
    overflow-y: hidden;
}
@media screen and (max-width:960px){
    .swiper {
        width: 400px;
        height: 300px;
    }
}

body{
    overflow-x: hidden;
}